h5py
nltk
tqdm
xlrd
cors
tools
Flask
numpy
numba
torch
odfpy
elsapy
gensim
pandas
plotly
pycurl
aiohttp
Pyarrow
IPython
graphviz
networkx
openpyxl
requests
wordcloud
xhtml2pdf
pygraphviz
flask_cors
langdetect
matplotlib
ipywidgets
weasyprint
fuzzywuzzy
transformers
pyjarowinkler
webdriver_manager
Pillow
scikit-learn
neo4j
py2neo
fitz
pdfkit
PyPDF2
urllib3
seaborn
frontend
selenium
beautifulsoup4
sentence_transformers
# spacy