altair
beautifulsoup4
flask
gitpython
gensim
nltk
numpy
pandas
py2neo
PyPDF2
python-dotenv
scikit-learn
sentence-transformers
selenium
transformers
xformers
torch
Levenshtein
pdfkit
h5py
xlrd
# spacy
# tika