<!-- breadcrumb.html -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <!-- <li class="breadcrumb-item"><a href="/i9c_mp">Macroprocesso PDI</a></li> -->
    <li class="breadcrumb-item"><a href="/grafo_interativo.html">Grafo Interativo</a></li>
    <li class="breadcrumb-item"><a href="/i9c_gp">Completo</a></li>
    <li class="breadcrumb-item"><a href="/graph_revistas_capes">Classes CNPQ</a></li>
    <li class="breadcrumb-item"><a href="/graph_revistas_capes">Classes CAPES</a></li>    
    <li class="breadcrumb-item"><a href="/pasteur_fr_report">Report01</a></li>
    <li class="breadcrumb-item"><a href="/pasteur_fr_report">Report02</a></li>
  </ol>
</nav>