<!-- breadcrumb.html -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item"><a href="/i9c_gp">Mapa por Camadas</a></li>
    <li class="breadcrumb-item"><a href="/grafo_interativo.html">Grafo PDI</a></li>
    <li class="breadcrumb-item dropdown">
      <a class="dropdown-toggle" href="#" id="fomentoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Fomentos
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="fomentoDropdown">
        <li><a class="dropdown-item" href="/relatorio_fomento">Fomento em Geral</a></li>
        <li><a class="dropdown-item" href="/graph_revistas_capes">Fomento CAPES</a></li>
        <li><a class="dropdown-item" href="/graph_revistas_capes">Fomento CNPQ</a></li>
        <li><a class="dropdown-item" href="/graph_revistas_capes">Fomento FINEP</a></li>        
      </ul>
      <li class="breadcrumb-item dropdown">
        <a class="dropdown-toggle" href="#" id="reportsProductions" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Produções
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="reportsOrientacoes">
          <li><a class="dropdown-item" href="/publicacoes_report">Publicações Geral</a></li>
          <li><a class="dropdown-item" href="/orientacoes_report">Orientações Geral</a></li> 
        </ul>
      </li> 
      <li class="breadcrumb-item dropdown">
      <a class="dropdown-toggle" href="#" id="reportsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Parceiros
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="reportsDropdown">
        <li><a class="dropdown-item" href="/pasteur_fr_report">ReportPasteur</a></li>
      </ul>
    </li> 
    <li class="breadcrumb-item dropdown">
      <a class="dropdown-toggle" href="#" id="siscomexDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        SisComex
      </a>
      <ul class="dropdown-menu" aria-labelledby="siscomexDropdown">
        <li><a class="dropdown-item" href="/revisao_lista">Revisão de Lista</a></li>
      </ul>
    </li>

  </ol>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
